@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);

  background-repeat: no-repeat, no-repeat;
  background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  max-width: 420px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  overflow: hidden;
}

.content img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-top: -52px;
  margin-bottom: 20px;
  border: 4px solid rgba(255, 255, 255, 1);
}

.content h2 {
  color: rgba(46, 51, 73, 1);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 13px;
}

.content h2 span {
  color: rgba(107, 112, 130, 1);
  font-weight: 400;
}
.content p.london {
  font-size: 14px;
}
.content p {
  color: rgba(107, 112, 130, 1);
  font-size: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(232, 233, 236, 1);
  padding: 30px 50px;
  margin-top: 24px;
}

.footer p.numbers {
  font-size: 18px;
  color: rgba(46, 51, 73, 1);
  font-weight: 700;
  margin-bottom: 9px;
}
